.tabs__nav {
    border-bottom: 1px solid $color-grey-light;
    @include stack-component;
}

.tabs__btn {
    display: inline;
    font-weight: $font-weight-book;
    background-color: $color-white;
    color: $color-grey-dark;
    border: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    min-width: 0;

    .tabs__btn-highlight {
        display: inline-block;
        border-bottom: 4px solid transparent;
        transition: border .2s;
    }
    @include small {
        font-size: .875rem;
    }
}
    .tabs__btn--active {
        color: inherit;

        .tabs__btn-highlight {
            border-bottom-color: currentcolor;
        }
    }

    .tabs--large .tabs__btn {
        @include smallish {
            font-size: rem(20);

            .tabs__btn-highlight {
                padding-bottom: $spacing-xl;
            }

            &:nth-of-type(n + 2) {
                &::before {
                    display: inline-block;
                    position: relative;
                    content: ' ';
                    top: .3em;
                    height: 1.2em;
                    width: 1px;
                    margin-right: 3vw;
                    background-color: $color-grey-light;
                }
            }

            + .tabs__btn {
                margin-left: 3vw;
            }
        }
    }


.tabs__content { transition: opacity .5s; }

.no-js .tabs__content { @include inset-space; }

    .tabs__content--hidden {
        display: none;
        opacity: 0;
    }
