$color-field-border: $color-grey-mid;

$color-field-error: #e30013;

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

[type='text'],
[type='password'],
[type='email'],
[type='number'],
[type='tel'],
[type='file'],
[type='url'],
[type='search'],
textarea,
select {
    width: 100%;
    padding: rem(14) rem(15) rem(10);
    // height: 45px;

    color: $color-page-text;
    background-color: transparent;

    border-radius: $base-radius;
    border: 1px solid $color-field-border;
    outline: none;

    appearance: none;
    transition: border-color $base-transition-easing $base-transition-duration;

    &.error,
    .error > & {
        box-shadow: none;
        border-color: $color-field-error;
    }

    label + & {
        margin-top: .25rem;
    }

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }

    .form-field & {
        display: block;
    }
}

.form-field {
    display: block;
    cursor: pointer;
}
    .form-field--inline {
        display: inline-block;
    }

    .form-field + .form-field {
        margin-top: $spacing-l;
    }


.form-field__label {
    @include h5;
    display: block;
    margin-bottom: rem(10);
    font-family: $font-family-secondary;
}

.form-field__help {
    display: block;
    margin-bottom: rem(5);
    color: $color-grey-mid;
}

.form-field__error {
    display: block;
    margin-top: rem(5);
    color: $color-field-error;
}
