//
// What follows is the result of much research on cross-browser styling.
// Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
// Kroc Camen, and the H5BP dev community and team.
//
// This file contains only the print styles from the HTML5 Boilerplate
// project. See <https://github.com/h5bp/html5-boilerplate> for more
// information on the main project.
//

//==========================================================================
//   Print styles.
//   ========================================================================== */

@media print {
    body {
        margin:0;
        padding:0;
        background: white; 
    }

    p, li {
        font-size: 14px; 
        line-height: 1.41;
    }

    *,
    *::before,
    *::after {
        background: transparent !important;
        color: $color-black !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        //text-decoration: underline;
    }

    a[href]::after {
        content: '(' attr(href) ')';
    }

    abbr[title]::after {
        content: '(' attr(title) ')';
    }

    a[href^='#']::after,
    a[href^='javascript:']::after {
        content: '';
    }

    pre,
    blockquote {
        border: 1px solid $color-grey-light;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .hide-on-print { display: none!important; }

    .collapse__content { display: block; }
    .collapse { border-bottom: 1px solid #ffffff; }
    .component { margin-bottom: 40px!important; }
    .site-content { border: 1px solid #ffffff!important; }
    li { margin-bottom:10px!important;}
    .key-skills {page-break-after: always;}
    .employment-history {margin-top:30px;}
}
