.u-text-color-primary {
    color: $color-brand-primary;
}

.u-text-color-secondary {
    color: $color-brand-secondary;
}

.u-text-color-tertiary {
    color: $color-brand-tertiary;
}

.u-text-color-white {
    color: $color-white;
}

.u-text-color-grey-light {
    color: $color-grey-light;
}

.u-text-color-grey-mid {
    color: $color-grey-mid;
}

.u-text-color-grey-dark {
    color: $color-grey-dark;
}

.u-text-color-grey-xdark {
    color: $color-grey-xdark;
}

.u-text-color-blue-dark {
    color: $color-blue-dark;
}

.u-text-color-muted {
    color: $color-muted;
}
