.u-sub-heading {
    margin-bottom: $spacing-xl;
    text-transform: uppercase;
    color: $color-muted;
    font-weight: normal;
}

.u-sub-text {
	font-size: rem(14);
	color: $color-muted;
	font-family: $font-family;
}