{% extends "template.j2" %}
{% import "includes/macros.j2" as macros %}
{% import "includes/components.j2" as components %}
{% block page_class %} pattern-library {% endblock %}

{% block page %}

	<div class='sg-t-secondary'>

		<div class='[ wrapper ]'>

			<div class='[ section gutters ]'>
			 	
			 	{% if data %}
			 		{{ macros.parse_blocks( data ) }}
			 	{%endif %}

			 </div>

		</div>

	</div>

{% endblock %}