{% extends "template.j2" %}
{% import "includes/macros.j2" as macros %}
{% import "includes/components.j2" as components %}
{% block page_class %}{% endblock %}


{% block content %}

    {% if meta.profile is defined %}
        {% set user = {
            "type": "profile-block",
            "name": "Tim Smith",
            "country": "New Zealand",
            "job": "CEO",
            "image": "placeholder.jpg",
            "blurb": ["Hey! This is the blurb."],
            "linkedin_profile": "VR Enterprise",
            "linkedin_link": "#",
            "facebook_profile": "VR Enterprise org",
            "facebook_link": "#",
            "xero_partner": true,
            "profile_owner": true
        } %}
            {{ components.profile_block(user=user) }}
    {% else %}
        {{ components.profile_block(api=true) }}
    {% endif %}


	<div class='[ wrapper ]'>
		<div class='[ section-bottom gutters ]'>
			{{ macros.parse_blocks( data ) }}
		 </div>
	</div>

{% endblock %}