{% import "includes/components.j2" as components %}
{% import "includes/macros.j2" as macros %}
<!DOCTYPE html>
<html class="no-js cv-wrapper" lang="en-nz">
<head>
    <meta charset="utf-8">
    <title>{{meta.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        document.documentElement.className = document.documentElement.className.replace("no-js", "js");
    </script>

    {% block stylesheets %}
        <link rel="stylesheet" href="static/css/styles.css">
    {% endblock %}
    <!-- Style block for tabbing outline in accessible way -->
    <style class="accessTab"></style>
    <link rel="apple-touch-icon" sizes="57x57" href="static/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Martel:800,200" rel="stylesheet">
</head>
<body class='{% block page_class %}{% endblock %}'>
    {#<div style="display:none">
        {% include "includes/svg.html" ignore missing %}
    </div>#}

   {% block navigation %}
    {% endblock %}

   {% block page %}

        {#{% block sub_navigation %}

            {% if meta.children %}

                <div class='[ t-inverse t-inverse--bg ]' >

                    <div class='[  wrapper ] '>

                        <div class='[  gutters ]' >

                            <div class='[  ]' >

                                <ul class='u-list-inline '>

                                    <li>
                                        Sub pages:
                                    </li>

                                    {% for page in meta.children %}

                                        <li>
                                            <a href='{{page.url}}' class='btn btn--small btn--white'>{{page.title}}</a>
                                        </li>

                                    {% endfor %}

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

            {% endif %}

        {% endblock %}#}

        {% block header %}

            {% if meta.user is defined %}
                {% set user = meta.user %}
            {% else %}
                {% set user = {
                    "name": "Jamie",
                    "initials": "JW",
                } %}
            {% endif %}

            {{ components.header(user=user, title=meta.header_title) }}

        {% endblock %}

        {% block content %}

            <div class="content {{data.banner_class}}" role="main">

                {{ macros.parse_blocks( data ) }}

            </div>

           <!--  <p>related: {{meta.related}}</p> -->


            {#{% for page in meta.related %}

                <p>page: {{page}}</p>

            {% endfor %}#}


            {#{% for page in meta.children %}

                 <p>page 1:{{page}}</p>

            {% endfor %}#}

              {#{% for section in sections %}

                <div class="{{section.banner_class}}" id="{{section.anchor}}">

                    {{ macros.parse_blocks( section ) }}

                </div>

            {% endfor %}#}

        {% endblock %}

        {% block footer %}

            {% if meta.user is defined %}
               {{ components.footer(user=false) }}
            {% else %}
                 {{ components.footer(api=true) }}
            {% endif %}

        {% endblock %}


    {% endblock %}

    <script src="static/js/site.js"></script>

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</body>
</html>
