{% import "includes/macros.j2" as macros %}
{% import "includes/components.j2" as components %}

{% if item.api %}

	{% set item = {
      "type": "avatar-block",
      "avatars": [
            {
              "rank": 1,
              "name": "Michele Wu",
              "initials": "MW",
              "image": "",
              "employer": "Happy Cogs",
              "url": "/",
            },
            {
              "rank": 2,
              "name": "Marcus Whitler",
              "initials": "MW",
              "image": "placeholder.jpg",
              "employer": "Eye on Books",
              "url": "/",
            },
            {
              "rank": 3,
              "name": "Anita Smith",
              "initials": "AS",
              "image": "",
              "employer": "Widget 123",
              "url": "/",
            },
            {
              "rank": 4,
              "name": "Z Williams",
              "initials": "ZW",
              "image": "placeholder.jpg",
              "employer": "My business",
              "url": "/",
            },
            {
              "rank": 5,
              "name": "Jaime Winter",
              "initials": "JW",
              "image": "",
              "employer": "VR Enterprise",
              "url": "/",
              "user":true
            }
        ]
    } %}

{% endif %}

{% call components.container(theme="enhance") %}

    <div class="avatar-block">

        <h5 class="u-sub-heading">
            top contributes to invoices &amp; Quotes
        </h5>

        <div class="[ grid grid--col-spacing grid--center ]">

            {% for profile in item.avatars %}

                <div class="[ width-1/5 ]">

                    {{ components.avatar(profile=profile) }}

                    <p class="avatar-block__label">

                        <a href="{{ avatar.url }}">
                            <span class="u-text-color-muted">{{ profile.rank }}. </span>
                            <span>{{ profile.name }}</span>
                        </a>
                    </p>

                    {% if profile.user %}
                        {{ components.badge(theme="orange", text="You")}}
                    {% endif %}

                </div>

            {% endfor %}

        </div>

    </div>

{% endcall %}
