{% import "includes/macros.j2" as macros %}
{% import "includes/components.j2" as components %}

{% if item.api %}

	{% set item = {
        "type":"container",
        "theme":"highlight t-highlight--bg",
        "data":[
            "i am a paragraph inside a container component"
        ]
    } %}

{% endif %}


{% if item.theme %}

<div class="t-{{item.theme}} t-{{item.theme}}--bg {{class}}">

{% endif %}

	<div class='[ wrapper ] {% if item.internal_theme %}t-{{item.internal_theme}}{% endif %}' >
		
        <div class='[ section gutters{% if item.gutter_size %}-{{ item.section_size }}{% endif %} ] {{ item.section_class }}' {% if item.anchor %} id="{{ item.anchor }}" {% endif %}>	
            
            {% if item.data %}

                {{  macros.parse_blocks( item.data ) }}

            {% else %}

                {{ children }}
                
            {% endif %}

		</div>

	</div>

{% if item.theme %}

</div>

{% endif %}
