{% import "includes/macros.j2" as macros %}
{% import "includes/components.j2" as components %}

{% if item.api %}

	{% set item = {
		"type":"discussion-block-categorised",
        "open":[
            {
                "type":"heading-breadcrumb-text-set",
                "api":true
            },
            {
                "type":"heading-breadcrumb-text-set",
                "api":true
            },
            {
                "type":"heading-breadcrumb-text-set",
                "api":true
            },
            {
                "type":"heading-breadcrumb-text-set",
                "api":true
            }
        ],
        "resolved":[
            {
                "type":"heading-breadcrumb-text-set",
                "api":true
            },
            {
                "type":"heading-breadcrumb-text-set",
                "api":true
            },
            {
                "type":"heading-breadcrumb-text-set",
                "api":true
            },
            {
                "type":"heading-breadcrumb-text-set",
                "api":true
            }
        ]

    } %}

{% endif %}

<div class='[ grid grid--col-spacing ] component'>

    <div class='[ width-full width-1/2@small width-1/2@medium ] '>

        <h5 class="u-text-uppercase u-text-color-muted">Open Discussions</h5>

        {% for answers in item.open %}

            {% call components.inset_block( class='discussion-block-catagorised' ) %}

                {{ components.heading_breadcrumb_text_set( api=true ) }}

            {% endcall %}

        {% endfor %}

    </div>

    <div class='[ width-full width-1/2@small width-1/2@medium ] '>

        <h5 class="u-text-uppercase u-text-color-muted">Recently Solved Discussions</h5>


        {% for answers in item.resolved %}

            {% call components.inset_block( class='discussion-block-catagorised' ) %}

                {{ components.heading_breadcrumb_text_set( api=true ) }}

            {% endcall %}

        {% endfor %}

    </div>

</div>
