{% import "includes/macros.j2" as macros %}
{% import "includes/components.j2" as components %}

{% set item = item.example %}

{% if not item.base %}
    {% set base = [
        {
            "type": item.example,
            "api": True,
        }
    ] %}
{% else %}
    {% set base = item.base %}
{% endif %}


{% if item.development %}
    {% set collapse_class = "sg-collapse-anchor sg-development" %}
{% else %}
    {% set collapse_class = "sg-collapse-anchor" %}
{% endif %}

{% set example = [{
	"slug":item.example,
	"label":item.example,
	"class":collapse_class
}]
%}

{% call components.collapse(data=example) %}
	<div class='sg-component-container'>
		<div class='sg-component'>
			<div class='sg-inset-block'>
				<h3 >
					{{item.example}}
				</h3>
				{{ macros.parse_blocks( item.notes ) }}
			</div>
            <details class="sg-component-bg sg-code-anchor">
                <summary>Show HTML</summary>

<pre class="prettyprint">
<code>
{% filter e %}
{{ macros.parse_blocks( base ) }}
{% endfilter %}
</code>
</pre>

		</details>
		<div class='sg-code-container'>
			{{ macros.parse_blocks( base ) }}
		</div>
	</div>

    {% if item.modifier %}
    {% for modifier in item.modifier %}
        <div class='sg-component'>
			<div class='sg-inset-block' >
				<h4>
					{{modifier.title}}
				</h4>
				{{ macros.parse_blocks( modifier.notes ) }}
			</div>
			<details class="sg-component-bg sg-code-anchor">
                <summary>Show HTML</summary>

<pre class="prettyprint">
<code>
{% filter e %}
{{ macros.parse_blocks( modifier.data ) }}
{% endfilter %}
</code>
</pre>
            </details>
			<div class='sg-code-container'>
				{{ macros.parse_blocks( modifier.data ) }}
			</div>

        </div>
    {% endfor %}
    {% endif %}
	</div>
{% endcall %}
