{% import "includes/macros.j2" as macros %}
{% import "includes/components.j2" as components %}

{% if item.api %}

	{% set item = {
		"type":"feedback-buttons",
		"title":"Does this answer your question"

	} %}

{% endif %}

<div class="grid">
	<div class="width-full">

        <h3>{{item.title}}</h3>

		<div class="feedback-buttons">
            <button type="button" class="btn feedback-buttons__button" data-feedback="positive">
                <span class="icon-text">
                    {{ components.icon(icon="happy-face", size="icon--l", class="feedback-buttons__icon") }}
                    <span>Yes</span>
                </span>
            </button>

            <button type="button" class="btn feedback-buttons__button" data-feedback="negative">
                <span class="icon-text">
                    {{ components.icon(icon="sad-face", size="icon--l", class="feedback-buttons__icon") }}
                    <span>No</span>
                </span>
            </button>
        </div>

	</div>
</div>
