{% import "includes/macros.j2" as macros %}
{% import "includes/components.j2" as components %}


{%- if item.api -%}

    {% set item = {
        "type": "footer",
        "user": true
    } %}

{%- endif -%}

{% call components.container(theme="inverse") %}

<div class='footer '>

    <p class="u-text-color-grey-mid u-text-small u-text-right">Made with <span style='color:pink'>♥</span> 2018</p>

</div>

{% endcall %}
