{% import "includes/macros.j2" as macros %}
{% import "includes/components.j2" as components %}

{% if item.api %}

    {% set item = {
        "type":"icon-text",
        "class": "",
        "icon": {
            "icon": "save",
        },
        "icon_position": "icon-first",
        "text": "Icon with text",
        "data": []
    } %}

{% endif %}

<span class="{{ item.class }} {% if item.icon_position == 'icon-first' %}icon-text{% else %}icon-text--rev{% endif %}">
    {%- if item.icon_position == 'icon-first' -%}
        {{ components.icon(**item.icon) }}
    {% endif %}

    {% if item.text %}
        {{  item.text }}
    {% elif item.data %}
        {{  macros.parse_blocks( item.data ) }}
    {% else %}
        {{ children }}
    {% endif %}

    {%- if item.icon_position == 'icon-last' -%}
        {{ components.icon(**item.icon) }}
    {% endif %}
</span>
