<p {% if item.class %}class="{{ item.class }}"{% endif %}>
	{% if item.data %}
		{{item.data}}
	{% else %}
	    Xero HQ is in beta and does not yet have a full feature set. It is fully tested, ready for use and will change over time as we develop more features.
	{% endif %}
</p>
