{% import "includes/macros.j2" as macros %}
{% import "includes/components.j2" as components %}

<div class='rich-text component'>

	{% if item.data %}
		{{ macros.parse_blocks( item.data ) }}
	{% else %}
		{{ components.heading(level="h2", data="h2 heading - Choosing to use Xero HQ or My Xero Partner Edition") }}
		{{ components.p(api=true) }}
		{{ components.heading(level="h3", data="h3 heading - Choosing to use Xero HQ or My Xero Partner Edition") }}
		{{ components.list(api=true) }}
	{% endif %}

</div>
