{% import "includes/macros.j2" as macros %}
{% import "includes/components.j2" as components %}

{% if item.api %}

	{% set item = {
		"type":"whats-next",
		"data":[
			"<strong>Batch payments still failing</strong>",
			"If you've run the checks above and it's still failing, and if you haven't received any email confirmation of an issue, then <a href='#'>get in touch</a>."
		]
	} %}

{% endif %}

{% call components.inset_block(theme="enhance", class="component" ) %}
	<h5 class="u-text-uppercase u-text-color-muted">What's next</h5>

	{{ macros.parse_blocks( item.data ) }}
{% endcall %}
